


.text-block{

text-align: center;
font-size: larger;


}
.hero h1{

text-align: center;
font-size: xx-large;

}
header{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;

}

li{
    padding-left: 12px;
    list-style: none;
}